.experience-vid {
    position: relative;
    width: 100%;
    height: 75vh;
    /* full screen section */
    overflow: hidden;
}

/* Video wrapper */
.section_video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #000;

}

/* Video itself */
.section_video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Content overlay */
.section_content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 8%;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);

}

/* Title styling */
.section_content .title small {
    display: block;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
    opacity: 0.8;
    color:  #ebd7b2;
    font-weight: 600;
    letter-spacing: 1.2;
}

.section_content .title h2 {
    font-size: clamp(32px, 4vw, 56px);
    font-weight: 600;
    line-height: 1.2;
}