.footer{
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 1.5em;
    background-color: #1f2127;
    color: #ffffff4d;
}
.footer> span{
    color: brown;
}
.footer>a{
    text-decoration: none;
    color: #ddd;
}
.footer>a:active{
     text-decoration: none;
    color: #ddd;
}
.footer>a:visited{
     text-decoration: none;
    color: #ddd;
}