.rooms {
    margin: 100px auto;
    width: 85%;
    /* background-color: #faf8f5; */
}

.rooms>.title {
    margin-left: 20px;
}

.rooms>.title>small {
    color: #978667;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
}

.rooms>.title>h2 {
    font-weight: 700;
    font-size: 2.375rem;
}

.slide-wrapper {
    position: relative;
    padding: 20px;
}

.room-slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.room-slider::-webkit-scrollbar {
    display: none;
}

.card {
    min-width: 400px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: #000;
}

.image-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
    opacity: 0.8;
}

.card:hover img {
    transform: scale(1.1);
}

.card-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;

}

.card-content span {
    font-size: 14px;
    opacity: 0.9;
    letter-spacing: 3px;
    font-weight: 600;
}

.card-content>h3 {
    margin-top: 5px;
    font-size: 22px;
    font-size: 1.75rem;
    font-weight: 700;
}

.card-content>.desc {
    display: none;
    font-weight: 600;
}

.card:hover > .card-content>.desc {
    display: block;
    border-bottom: 3px solid #ffffffd5;
}
.card:hover > .image-box img {
    /* filter: grayscale(100%); */
    opacity: 0.6;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    font-size: 22px;
    padding: 10px 14px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.arrow.left {
    left: 35px;
}

.arrow.right {
    right: 35px;
}