.testimonial-section {
    background-image: url('/public/Images/parallax_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 60vh;
    width: 100vw;
    padding: 60px;
    color: white;
    text-align: center;
}

.testimonial-card {
    width: 60vw;
    background-color: #1f2430;
    padding: 30px;
    border-radius: 16px;
    margin: 30px auto 0;
}

.testimonial-overlay>h5 {
    color: #ebd7b2;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 0.75rem;
}

.testimonial-overlay>h2 {
    font-weight: 700;
    font-size: 2.75rem;
    margin-bottom: 15px;
    line-height: 1.3;

}

.mySwiper {
    cursor: pointer;
}

.swiper-slide {
    padding-bottom: 50px;
}

.testimonials-swiper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.swiper-left>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.swiper-right {
    border-left: 1px solid #ffffff4d;
    padding: 20px;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 1.3rem;
    font-weight: 300;
}